In [97]:
import pandas as pd
import numpy as np
import nltk

In [98]:
headlines=pd.read_csv("headlines.csv")
headlines.head()

,Date,Publication,Headline,URL
0,20070101,New York Times,Rush to Hang Hussein Was Questioned,http://www.nytimes.com/2007/01/01/world/middle...
1,20070101,New York Times,"News Analysis: For Sunnis, Dictators End Is O...",http://www.nytimes.com/2007/01/01/world/middle...
2,20070101,New York Times,Hard Choices Over Video,http://www.nytimes.com/2007/01/01/world/middle...
3,20070101,New York Times,States Take Lead on Ethics Rules for Lawmakers,http://www.nytimes.com/2007/01/01/us/01ethics....
4,20070101,New York Times,"Spitzer Arrives With Mandate, but Faces Challe...",http://www.nytimes.com/2007/01/01/nyregion/01e...

In [99]:
headlines.shape

(4405397, 4)

In [100]:
headlines['Date'] = pd.to_datetime(headlines['Date'], format='%Y%m%d')
headlines["Date"].head()

0   2007-01-01
1   2007-01-01
2   2007-01-01
3   2007-01-01
4   2007-01-01
Name: Date, dtype: datetime64[ns]

In [101]:
min_date = headlines['Date'].min()
max_date = headlines['Date'].max()

print("Minimum Date:", min_date)
print("Maximum Date:", max_date)

Minimum Date: 2007-01-01 00:00:00
Maximum Date: 2023-01-01 00:00:00

In [102]:
start_date = pd.to_datetime('2008-08-08')
end_date = pd.to_datetime('2016-07-01')

# Filter dataframe to include only rows between the limit
headlines = headlines[(headlines['Date'] >= start_date) & (headlines['Date'] <= end_date)]

# Display the first few rows of the filtered dataframe
print(headlines.head())

# Check the min and max dates in the filtered dataframe
min_date_filtered = headlines['Date'].min()
max_date_filtered = headlines['Date'].max()

print("Minimum Date in filtered dataframe:", min_date_filtered)
print("Maximum Date in filtered dataframe:", max_date_filtered)

             Date     Publication  \
294215 2008-08-08  New York Times
294216 2008-08-08  New York Times
294217 2008-08-08  New York Times
294218 2008-08-08  New York Times
294219 2008-08-08  New York Times

                                                 Headline  \
294215  Georgian and Russian Forces Facing Off in Rebe...
294216                                                NaN
294217                                        Photographs
294218       Games in Beijing Open With a Lavish Ceremony
294219                 Edwards Admits Extramarital Affair

                                                      URL
294215  http://www.nytimes.com/2008/08/09/world/europe...
294216  http://www.nytimes.com/2008/08/08/travel/escap...
294217  http://www.nytimes.com/slideshow/2008/08/08/wo...
294218  http://www.nytimes.com/2008/08/09/sports/olymp...
294219  http://thecaucus.blogs.nytimes.com/2008/08/08/...
Minimum Date in filtered dataframe: 2008-08-08 00:00:00
Maximum Date in filtered dataframe: 2016-07-01 00:00:00

In [103]:
headlines.shape

(2247449, 4)

In [104]:
print(headlines.isnull().sum())

Date               0
Publication        0
Headline       24104
URL                0
dtype: int64

In [105]:
headlines = headlines.dropna()
headlines.shape

(2223345, 4)

In [106]:
word=["U.S.A", "United States", "States", "America", "Alabama", "Alaska", "Arizona", "Arkansas", 
                      "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", 
                      "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", 
                      "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", 
                      "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", 
                      "New Jersey", "New","Mexico", "New York", "North","Carolina", "North Dakota", 
                      "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South","Carolina", 
                      "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", 
                      "West","Virginia", "Wisconsin", "Wyoming", "democratic", "liberals", "mexico", 
                      "trade", "United Nations", "World Bank", "Debt", "Borrow", "Trump", "President", 
                      "Biden", "Clinton", "Elon Musk", "Company", "Tesla", "Investment",
                      "recession", "inflation", "GDP", "stock","market", "interest","rate", "unemployment",
                      "stimulus", "innovation", "artificial","intelligence", "robotics", "cybersecurity",
                      "cryptocurrency", "climate","change", "renewable","energy", "sustainability", 
                      "conservation", "pollution", "pandemic", "healthcare", "vaccination", "disease", 
                      "public","health", "pharmaceuticals", "diversity", "equality", "immigration", 
                      "social","justice", "human","rights", "protest", "entrepreneurship", "venture","capital", 
                      "merger", "acquisition", "market", "trends", "risk","management"]

In [107]:
relevant_headlines = []

for index, row in headlines.iterrows():
    headline = row['Headline'].lower()  # Convert headline to lowercase for case-insensitive matching
    
    # Check if any keyword from total_bag_of_words is present in the headline
    if any(keyword.lower() in headline for keyword in word):
        relevant_headlines.append(row)

# Create a new dataframe with relevant headlines
relevant_news_df = pd.DataFrame(relevant_headlines)

In [108]:
relevant_news_df.head()

,Date,Publication,Headline,URL
294215,2008-08-08,New York Times,Georgian and Russian Forces Facing Off in Rebe...,http://www.nytimes.com/2008/08/09/world/europe...
294222,2008-08-08,New York Times,Clintons at the Convention,http://thecaucus.blogs.nytimes.com/2008/08/08/...
294224,2008-08-08,New York Times,McCain at the Iowa State Fair,http://thecaucus.blogs.nytimes.com/2008/08/08/...
294225,2008-08-08,New York Times,Oil Prices Tumble Again; Stock Markets Surge,http://www.nytimes.com/2008/08/09/business/wor...
294226,2008-08-08,New York Times,Floyd Norris: Another Reason to Think Stocks H...,http://norris.blogs.nytimes.com/2008/08/08/the...

In [109]:
relevant_news_df.shape

(443670, 4)

In [110]:
# Count the number of words in each headline
relevant_news_df['Word_Count'] = relevant_news_df['Headline'].apply(lambda x: len(x.split()))

# Filter out rows where the number of words is less than 3
relevant_news_df = relevant_news_df[relevant_news_df['Word_Count'] >= 3]

# Drop the 'Word_Count' column as it's no longer needed
relevant_news_df.drop(columns=['Word_Count'], inplace=True)

In [111]:
relevant_news_df.shape

(405822, 4)

In [112]:
words=["U.S.A", "United States", "States", "America", "New York", "democratic", "liberals", 
                      "trade", "United Nations", "World Bank", "Debt", "Borrow", "Trump", "President", 
                      "Biden", "Clinton", "Elon Musk", "Company", "Tesla", "Investment", "Stocks", "Startup",
                      "oil", "Bank", "reserve", "economy", "business", "Option", "Equity", "Funds", "Yield", "IPO", "Returns",
                      "Profit","Loss","Liquidity", "Recession", "Inflation", "Deflation", "Index", "ETF", "Bond", "Shareholder", "Liability",
                      "Asset","Revenue", "Dividend", "Mutual funds", "Interest rates", "Portfolio","per capita","Volatility",
                      "recession", "inflation", "GDP", "stock","market", "interest","rate", "unemployment",
                      "cryptocurrency","conservation", "pollution", "pandemic", "immigration", "protest", "entrepreneurship", "venture","capital", 
                      "merger", "acquisition", "market", "trends", "risk","management"]

In [113]:
df= pd.read_csv("output.csv")
df.head()

,Date,Publication,Headline,URL
0,2008-08-08,New York Times,Georgian and Russian Forces Facing Off in Rebe...,http://www.nytimes.com/2008/08/09/world/europe...
1,2008-08-08,New York Times,Clintons at the Convention,http://thecaucus.blogs.nytimes.com/2008/08/08/...
2,2008-08-08,New York Times,McCain at the Iowa State Fair,http://thecaucus.blogs.nytimes.com/2008/08/08/...
3,2008-08-08,New York Times,Oil Prices Tumble Again; Stock Markets Surge,http://www.nytimes.com/2008/08/09/business/wor...
4,2008-08-08,New York Times,Floyd Norris: Another Reason to Think Stocks H...,http://norris.blogs.nytimes.com/2008/08/08/the...

In [114]:
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he's": "he is",
"how'd": "how did",
"how'll": "how will",
"how's": "how is",
"i'd": "i would",
"i'll": "i will",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'll": "it will",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"must've": "must have",
"mustn't": "must not",
"needn't": "need not",
"oughtn't": "ought not",
"shan't": "shall not",
"sha'n't": "shall not",
"she'd": "she would",
"she'll": "she will",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"that'd": "that would",
"that's": "that is",
"there'd": "there had",
"there's": "there is",
"they'd": "they would",
"they'll": "they will",
"they're": "they are",
"they've": "they have",
"wasn't": "was not",
"we'd": "we would",
"we'll": "we will",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"where'd": "where did",
"where's": "where is",
"who'll": "who will",
"who's": "who is",
"won't": "will not",
"wouldn't": "would not",
"you'd": "you would",
"you'll": "you will",
"you're": "you are"
}

In [119]:
import re
from nltk.corpus import stopwords
nltk.download('stopwords')

def clean_text(text, should_remove_stopwords=True):
    # Convert words to lowercase
    text = text.lower()

    # Replace contractions with their longer forms 
    if True:
        text = text.split()
        new_text = []
        for word in text:
            if word in contractions:
                new_text.append(contractions[word])
            else:
                new_text.append(word)
        text = " ".join(new_text)

    # Format words and remove unwanted characters
    text = re.sub(r'&amp;', '', text) 
    text = re.sub(r'0,0', '00', text) 
    text = re.sub(r'[_"\-;%()|.,+&=*%.,!?:#@\[\]]', ' ', text)
    text = re.sub(r'\'', ' ', text)
    text = re.sub(r'\$', ' $ ', text)
    text = re.sub(r'u s ', ' united states ', text)
    text = re.sub(r'u n ', ' united nations ', text)
    text = re.sub(r'u k ', ' united kingdom ', text)
    text = re.sub(r' yr ', ' year ', text)
    text = re.sub(r' l g b t ', ' lgbt ', text)
    text = re.sub(r'0km ', '0 km ', text)
    
    # Remove stopwords if specified
    if should_remove_stopwords:
        text = remove_stopwords(text)
    
    return text

def remove_stopwords(text, remove_prepositions=True):
    text = text.split()
    stops = set(stopwords.words("english"))
    
    # Optionally remove prepositions from the set of stopwords
    if remove_prepositions:
        prepositions = {'about', 'above', 'across', 'after', 'against', 'among', 'around', 'at', 'before', 'behind', 'below', 'beneath', 'beside', 'between', 'beyond', 'but', 'by', 'despite', 'down', 'during', 'except', 'for', 'from', 'in', 'inside', 'into', 'like', 'near', 'of', 'off', 'on', 'onto', 'out', 'outside', 'over', 'past', 'since', 'through', 'throughout', 'to', 'toward', 'under', 'until', 'up', 'upon', 'with', 'within', 'without'}
        stops -= prepositions
    
    text = [w for w in text if not w in stops]
    text = " ".join(text)
    return text

df['Cleaned_News'] = df['Headline'].apply(clean_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [120]:
df.head()

,Date,Publication,Headline,URL,Cleaned_News
0,2008-08-08,New York Times,Georgian and Russian Forces Facing Off in Rebe...,http://www.nytimes.com/2008/08/09/world/europe...,georgian russian forces facing off in rebel pr...
1,2008-08-08,New York Times,Clintons at the Convention,http://thecaucus.blogs.nytimes.com/2008/08/08/...,clintons at convention
2,2008-08-08,New York Times,McCain at the Iowa State Fair,http://thecaucus.blogs.nytimes.com/2008/08/08/...,mccain at iowa state fair
3,2008-08-08,New York Times,Oil Prices Tumble Again; Stock Markets Surge,http://www.nytimes.com/2008/08/09/business/wor...,oil prices tumble stock markets surge
4,2008-08-08,New York Times,Floyd Norris: Another Reason to Think Stocks H...,http://norris.blogs.nytimes.com/2008/08/08/the...,floyd norris another reason to think stocks bo...

In [121]:
df['Word_Count'] = df['Cleaned_News'].apply(lambda x: len(x.split()))

# Filter out rows where the number of words is less than 3
df = df[df['Word_Count'] >= 3]

# Drop the 'Word_Count' column as it's no longer needed
df.drop(columns=['Word_Count'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_2044\3701568331.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Word_Count'], inplace=True)

In [122]:
df.head()

,Date,Publication,Headline,URL,Cleaned_News
0,2008-08-08,New York Times,Georgian and Russian Forces Facing Off in Rebe...,http://www.nytimes.com/2008/08/09/world/europe...,georgian russian forces facing off in rebel pr...
1,2008-08-08,New York Times,Clintons at the Convention,http://thecaucus.blogs.nytimes.com/2008/08/08/...,clintons at convention
2,2008-08-08,New York Times,McCain at the Iowa State Fair,http://thecaucus.blogs.nytimes.com/2008/08/08/...,mccain at iowa state fair
3,2008-08-08,New York Times,Oil Prices Tumble Again; Stock Markets Surge,http://www.nytimes.com/2008/08/09/business/wor...,oil prices tumble stock markets surge
4,2008-08-08,New York Times,Floyd Norris: Another Reason to Think Stocks H...,http://norris.blogs.nytimes.com/2008/08/08/the...,floyd norris another reason to think stocks bo...

In [123]:
df.shape

(402210, 5)

make a single rows for unique date columns

In [124]:

# Filter headlines based on URLs containing keywords related to financial news sources
financial_sources_keywords = ['money', 'business', 'finance', 'economy', 'market', 'stock']

# Extract source keywords from URLs
df['Source'] = df['URL'].apply(lambda url: next((word for word in financial_sources_keywords if word in url), None))

# Filter headlines with financial sources keywords
financial_news = df[df['Source'].notnull()]

# Display the filtered financial news
financial_news.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_2044\3023303512.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Source'] = df['URL'].apply(lambda url: next((word for word in financial_sources_keywords if word in url), None))

,Date,Publication,Headline,URL,Cleaned_News,Source
3,2008-08-08,New York Times,Oil Prices Tumble Again; Stock Markets Surge,http://www.nytimes.com/2008/08/09/business/wor...,oil prices tumble stock markets surge,business
17,2008-08-08,CNN,Stocks end the week with a bang,http://money.cnn.com/2008/08/08/markets/market...,stocks end week with bang,money
31,2008-08-08,Washington Post,Panel Calls for New Risk Standards,http://www.washingtonpost.com/wp-dyn/content/a...,panel calls for new risk standards,business
89,2008-08-09,CNN,The new math of lending,http://money.cnn.com/2008/08/07/news/companies...,new math of lending,money
90,2008-08-09,CNN,Stocks end the week with a bang,http://money.cnn.com/2008/08/08/markets/market...,stocks end week with bang,money

now merge cleaned_news by date

In [131]:
# Group by date and aggregate the headlines into a single string
day_wise_news = financial_news.groupby('Date')['Cleaned_News'].apply(lambda x: '; '.join(['"' + headline + '"' for headline in x])).reset_index()

# Aggregate other columns
other_columns = financial_news.groupby('Date').agg({
    'Publication': 'first',
    'Headline': lambda x: '; '.join(x),
    'URL': 'first',
    'Source': 'first'
}).reset_index()

# Merge the aggregated news headlines with the other columns
day_wise_news = pd.merge(day_wise_news, other_columns, on='Date')

# Rename the column to 'Stocks_news_of_the_day'
day_wise_news.rename(columns={'Cleaned_News': 'Stocks_news_of_the_day'}, inplace=True)

# Display the resulting DataFrame
day_wise_news.head()

,Date,Stocks_news_of_the_day,Publication,Headline,URL,Source
0,2008-08-08,"""oil prices tumble stock markets surge""; ""stoc...",New York Times,Oil Prices Tumble Again; Stock Markets Surge; ...,http://www.nytimes.com/2008/08/09/business/wor...,business
1,2008-08-09,"""new math of lending""; ""stocks end week with b...",CNN,The new math of lending; Stocks end the week w...,http://money.cnn.com/2008/08/07/news/companies...,money
2,2008-08-10,"""media equation of us arbiters of news""; ""june...",New York Times,"The Media Equation: All of Us, the Arbiters of...",http://www.nytimes.com/2008/08/11/business/med...,business
3,2008-08-11,"""giant retailers look to sun for energy saving...",New York Times,Giant Retailers Look to Sun for Energy Savings...,http://www.nytimes.com/2008/08/11/business/11s...,business
4,2008-08-12,"""cost cutting in new york boom in india""; ""sec...",New York Times,"Cost-Cutting in New York, a Boom in India; Sec...",http://www.nytimes.com/2008/08/12/business/wor...,business

In [133]:
day_wise_news.shape

(2873, 6)

In [ ]:
day_wise_news.drop(columns=["Headline"], inplace=True)
# saved as a csv called day_wise_news_cleaned.csv

In [137]:
stocks_df= pd.read_csv("DowJones.csv")
stocks_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234

In [ ]:
stocks_df.shape

(1989, 7)

In [ ]:
# stocks_df['Bulls/Bears score'] = stocks_df['Adj Close'] - stocks_df['Open']
# selected_columns = ['Date', 'Bulls/Bears score']
# new_stocks_df = stocks_df[selected_columns]
# new_stocks_df.head()

In [ ]:
# merged_df = pd.merge(new_stocks_df, grouped_df, on='Date', how='inner')

# # Display the merged dataframe
# merged_df.head()

In [ ]:
# from textblob import TextBlob
# sentiment_scores = []
# for headline in merged_df['Cleaned_News']:
#     # Perform sentiment analysis on each headline
#     blob = TextBlob(headline)
#     sentiment_scores.append(blob.sentiment.polarity)

# # Step 3: Combine data
# merged_df['Sentiment'] = sentiment_scores
# merged_df.head()

In [ ]:
# merged_df['Bulls/Bears score'] = merged_df['Bulls/Bears score'] / 1000
# merged_df.head()

In [ ]:
# import matplotlib.pyplot as plt

# correlation = np.corrcoef(merged_df['Sentiment'], merged_df['Bulls/Bears score'])[0, 1]

# # Plotting the correlation chart
# plt.figure(figsize=(8, 6))
# plt.scatter(merged_df['Sentiment'], merged_df['Bulls/Bears score'], alpha=0.5)
# plt.title(f"Sentiment vs. Bulls/Bears score (Correlation: {correlation:.2f})")
# plt.xlabel('Sentiment')
# plt.ylabel('Bulls/Bears score')
# plt.grid(True)
# plt.show()

In [ ]:
# embeddings_index = {}
# with open('C:/Users/HP/Desktop/glove.840B.300d.txt', encoding='utf-8') as f:
#     for line in f:
#         values = line.split(' ')
#         word = values[0]
#         embedding = np.asarray(values[1:], dtype='float32')
#         embeddings_index[word] = embedding

# print('Word embeddings:', len(embeddings_index))

In [ ]:
# def headline_embedding(headline):
#     words = headline.lower().split()
#     vectors = []
#     for word in words:
#         if word in embeddings_index:
#             vectors.append(embeddings_index[word])
#     if vectors:
#         return np.mean(vectors, axis=0)
#     else:
#         return np.zeros_like(next(iter(embeddings_index.values())))  # Return zero vector if no words found in GloVe

# # Apply headline embedding function to create a new column with aggregated vectors
# headlines['Headline_Vector'] = headlines['Headline'].apply(headline_embedding)

# # Now, df contains a new column "Headline_Vector" with aggregated GloVe vectors for each headline

In [ ]:
#headlines.head()